@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.woff2)  format('woff2'),
  url(../fonts/Inter-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.woff2) format('woff2'),
  url(../fonts/Inter-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-SemiBold.woff2) format('woff2'),
  url(../fonts/Inter-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@import url(../vender/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

